<header id="cabecera-principal">

<div id="cont-cabecera">
<div class="logo-sitio">
	<a href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/marca/logo-RFG-web.webp' | relative_url }}" alt="{{ site.title }} logo"></a>
</div>

<div class="area-titulo">
	<p class="titulo"><a href="{{ '/' | relative_url }}">ResilienceForGrowth</a>
	</p>
	<p class="descripcion">{{ site.description }}</p>
</div>

<nav id="menu-pral">
	<ul>
		<li class="expansivo"><a href="{{ '/' | relative_url }}">Inicio</a></li>
		<li class="expansivo"><a href="{{ '/sobre-mi' | relative_url }}">Quién soy</a></li>
		<li class="expansivo"><a href="{{ '/contacto' | relative_url }}">Contacto</a></li>
	</ul>
</nav>
</div><!-- #cont-cabecera -->
</header>
